.SubpageContent{
    display: flex;
    border-radius: 0 5px 5px 0;  
}
.menuNav-left{
    display: flex;
    flex-direction: column;
    flex: 2;
    border: 1px solid red;
    
}
.menuNav-left li a{
    color: aliceblue;
}
.SubpageContent-right{
    flex: 8;
    border: 1px solid red;
}
#home , #wizard{
    background-color: #fff;
    border: 1px solid #8bd3f4;
    margin: 20px;
    padding: 20px;
}