.SubpageContent{
    display: flex;
    border-radius: 0 5px 5px 0;
    min-height: 400px;  
}
.menuNav-left{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 40px 8px 0 0;
    
}
.menuNav-left li a{
    color: black;
    padding: 6px 0px 6px 10px;
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
}
.menuNav-left li a:hover{
    color: #fff;
    background-color: #486170;
}
.SubpageContent-right{
    flex: 12;
    display: flex;
    /* align-items: center; */
}
#home , #wizard{
    background-color: #fff;
    border: 1px solid #8bd3f4;
    margin: 20px;
    padding: 20px;
}
#Wizard_LAN,#Wizard_WAN,#Wizard_Connection,#Wizard_WiFi{
    display: inline-block;
    padding: 30px 0 120px 40px;
}
#Wizard_LAN > h3,#Wizard_WAN > h3,#Wizard_Connection > h3,#Wizard_WiFi > h3{
    background: #aaaaaa;
    display: inline-block;
    color: #fff;
    margin: 0 6px;
    padding: 3px;
    font-size: 14px;
}
.wizardContentClass{
    border: 1px solid #ababab;
    padding: 20px;
}
/* index css */
.Paging-content-style{
    border: 1px solid #8bd3f4;
    border-radius: 0 10px 10px 0;
    background-color: #fff;
    width: 100%;
    margin: 20px;
}
.ContentTitle{
    background: url('../images/header-bar.png') no-repeat;
    border-radius: 4px;
    min-height: 36px;
    display: flex;
    align-items: center;
    background-size: 100% 100%;
}
.ContentTitle span{
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-family: arial, helvetica, sans-serif;
    font-size: 18px;
    margin-left: 20px;
}
.SubpageContent-Content{
    border: 1px solid #8bd3f4;
    border-radius: 8px;
    width: 96%;
    margin: 20px auto;
}
.el-tabs__header{
    margin: 0 0 1px 30px;
    top: 5px;
}
.el-tabs__item{
    margin: 0 3px;
    border-radius: 4px 4px 0 0;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
}
.el-tabs__item.is-active{
    background: #a0a6d1 50% 50% repeat-x;
    border: 1px solid #a6c9e2;
    font-weight: bold;
    color: #fff;
}
.el-tabs__item.is-active:hover{
    color: #fff;
}
.el-tabs__item{
    border: 1px solid #c5dbec;
    font-weight: bold;
    background: #dfeffc 50% 50% repeat-x;
    color: #2e6e9e;
}
.el-tabs__item:hover{
    color: #2e6e9e;
    border: 1px solid #a6c9e2;
}
.el-tabs--card>.el-tabs__header .el-tabs__nav{
    border:none;
}
.grid-content-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-content-span-flex , .grid-content-select-flex , .grid-content-button-flex{
    flex: 1;
}
.grid-content-span-flex{
    font-weight: bold;
    color: black;
    font-size: 14px;
    flex: 2;
}
.grid-content-wan-settings{
    margin: 4px 0 !important;
}
.grid-content-span-flex,.el-input{
    flex: 1;
} 