.SubpageContent{
    display: flex;
    border-radius: 0 5px 5px 0;  
}
.menuNav-left{
    display: flex;
    flex-direction: column;
    flex: 2;
    border: 1px solid red;
    
}
.menuNav-left li a{
    color: aliceblue;
}
.SubpageContent-right{
    flex: 8;
    border: 1px solid red;
}
#home , #wizard{
    background-color: #fff;
    border: 1px solid #8bd3f4;
    margin: 20px;
    padding: 20px;
}
#Wizard_LAN{
    display: inline-block;
    padding: 30px 0 120px 40px;
}
#Wizard_LAN > h3{
    background: #aaaaaa;
    display: inline-block;
    color: #fff;
    margin: 0 6px;
    padding: 3px;
    font-size: 14px;
}
.wizardContentClass{
    border: 1px solid #ababab;
    padding: 20px;
}